<div class="bg-gray-100 flex flex-col justify-center items-center h-screen">
    <div class="text-2xl font-bold mb-20">Choose between :</div>
    <div class="  flex flex-row justify-center items-center gap-x-5 ">
        <!-- Company Card -->
        <a [routerLink]="['companies']" class="bg-white rounded-lg shadow-lg p-4 flex-col items-center justify-center cursor-pointer hover:opacity-90">
            <img src="assets/images/companyIcon.png" width="200" />
            <h2 class="mt-4 text-lg font-semibold text-center text-gray-800">Company</h2>
        </a>
        <!-- Candidate Card -->
        <a  [routerLink]="['candidates']" class="bg-white rounded-lg shadow-lg p-4 flex-col items-center justify-center cursor-pointer hover:opacity-90 ">
            <img src="assets/images/FreelancerIcon.png" width="200" />
            <h2 class="mt-4 text-lg text-center font-semibold text-gray-800">Candidate</h2>
        </a>
    </div>
</div>