<div class="container mx-auto px-12 py-4">
    <div class="relative overflow-x-auto  sm:rounded-lg">


        <div class="flex-1 justify-end items-center p-2 space-x-6 bg-white rounded-xl">
            <label class="input input-bordered flex items-center gap-2">
                <input [(ngModel)]="search" type="text" (input)="fetchJobOffersAndCheckApplied()" class="grow" placeholder="Search" />
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                </label>
          </div>


        
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Job Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Company
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        skills
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="offers">
                <tr *ngFor="let item of offers" class="border-b" >
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        {{item.title}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.companyName}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.description}}
                    </td>
                    <td class="px-6 py-4" class="border-b">
                        <div *ngFor="let skill of item.skills_required">
                            <span class="text-sm font-medium m-2 px-2.5 py-0.5 rounded bg-gray-700 text-white">{{skill}}</span>
                        </div>
                    </td>
                    <td class="px-6 py-4" *ngIf="item.type=='not applied'">
                        <button  [disabled]="!isAuthenticated" (click)="apply(item.id)" class="font-medium text-blue-600 hover:underline">Apply</button>
                    </td>
                    <td class="px-6 py-4" *ngIf="item.type=='applied'">
                        <button (click)="delete(item.id)" class="font-medium text-red-600 hover:underline">Cancel</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>