<div *ngIf="candidates" class="max-w-screen-xl flex flex-wrap justify-between mx-auto p-4 gap-5">
  <div *ngFor="let item of candidates" class="flex-auto w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5">
    <div class="h-full flex flex-col bg-white overflow-hidden shadow rounded-lg border">
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0 flex-grow">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Full Name:</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{item.nom + " " + item.prenom}}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email address:</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{item.email}}</dd>
          </div>
          <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" *ngIf="item.skills.length > 0">
            <dt class="text-sm font-medium text-gray-500">Skills:</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              <div class="w-full">
                <div class="my-2 p-1 flex border border-gray-200 bg-white rounded">
                  <div class="flex flex-auto flex-wrap">
                    <div *ngFor="let skill of item.skills">
                      <div class="flex justify-center items-center m-1 font-medium py-1 px-2 rounded-full text-teal-700 bg-teal-100 border border-teal-300">
                        <div class="text-xs font-normal leading-none max-w-full flex-initial">{{skill}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dd>
          </div>
        </dl>
      </div>
      <div class="p-4 border-t flex justify-center items-center gap-x-3">
        <button class="w-full block mx-auto rounded-full font-medium bg-primary-600 hover:underline dark:text-primary-500 text-white px-6 py-2">
          Download CV
        </button>
      </div>
    </div>
  </div>
</div>
