<div class="container mx-auto px-12 py-4 ">
    <div class="relative overflow-x-auto  sm:rounded-lg">    
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Candidate Full Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Application Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Candidate Skills
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Candidate Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Download CV
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="applications">
                <tr *ngFor="let item of applications" class="border-b" >
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        {{item.candidateLastName +" "+ item.candidateFirstName}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.Date | date}}
                    </td>
                    <td class="px-6 py-4">
                        <div *ngFor="let skill of item.skills">
                            <span class="text-sm font-medium m-2 px-2.5 py-0.5 rounded bg-gray-700 text-white">{{skill}}</span>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        {{item.email}}
                    </td>
                    <td class="px-6 py-4">
                        <a [routerLink]="['/updateoffer/'+item.id]" class="font-medium text-blue-600 hover:underline">Download CV</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>