<p-toast />

<section class="  dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign up your company
                </h1>
                <form [formGroup]="myForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmitForm()">
                    <div>
                        <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Company Name</label>
                        <input formControlName="nom" type="text" name="nom" id="nom"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="ABC Corporation" required="">
                        <div class="text-danger">
                            <span
                                *ngIf="(submitted || myForm.get('nom')?.touched) && myForm.get('nom')?.errors?.['required']">nom
                                Is Required</span>
                            <br>
                            <span
                                *ngIf="(submitted || myForm.get('nom')?.touched) && myForm.get('nom')?.errors?.['minlength']">MinLength
                                is 5 characters</span>
                        </div>
                    </div>
                    <div>
                        <label for="capital" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Company
                            Capital</label>
                        <input formControlName="capital" type="number" name="capital" id="capital"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="30 0000" required="">
                        <div class="text-danger">
                            <span
                                *ngIf="(submitted || myForm.get('capital')?.touched) && myForm.get('capital')?.errors?.['required']">capital
                                Is Required</span>
                            <br>
                            <span
                                *ngIf="(submitted || myForm.get('capital')?.touched) && myForm.get('capital')?.errors?.['minlength']">min
                                length 5</span>
                        </div>
                    </div>
                    <div>
                        <label for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input formControlName="email" type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="info@abccorp.com" required="">
                        <div class="text-danger">
                            <span
                                *ngIf="(submitted || myForm.get('email')?.touched) && myForm.get('email')?.errors?.['required']">email
                                Is Required</span>
                            <br>
                            <span
                                *ngIf="(submitted || myForm.get('email')?.touched) && myForm.get('email')?.errors?.['pattern ']">you
                                didn't match the pattern
                            </span>
                            <span
                                *ngIf="(submitted || myForm.get('email')?.touched) && myForm.get('email')?.errors?.['emailTaken']">
                                this email is already taken
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input formControlName="password" type="password" name="password" id="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="*******" required="">
                        <div class="text-danger">
                            <span
                                *ngIf="(submitted || myForm.get('password')?.touched) && myForm.get('password')?.errors?.['required']">password
                                Is Required</span>
                            <br>
                            <span
                                *ngIf="(submitted || myForm.get('password')?.touched) && myForm.get('password')?.errors?.['pattern ']">you
                                didn't match the pattern</span>
                        </div>
                    </div>

                    <button type="submit"
                        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
                        up</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a href="#"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>