
<nav class="bg-white w-full top-0 start-0 border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Flowbite</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a *ngIf="!isAuthenticated" [routerLink]="['/signup']" type="button" class="text-blue-700  font-medium rounded-lg text-sm px-4 py-2 text-center mx-2">Sign up</a>
        <a *ngIf="!isAuthenticated" [routerLink]="['/signin']" type="button" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center">Sign in</a>


         <!-- dropdown -->
        <div *ngIf="isAuthenticated" class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button (click)="dropdownFunc()" type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div [ngClass]="{'hidden z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow': !dropdown}" id="user-dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900">{{infos.nom}}</span>
                <span class="block text-sm  text-gray-500 truncate">{{infos.email}}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a [routerLink]="['profile']" type="button"  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                </li>
                <li>
                  <button (click)="signOut()" type="button" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</button>
                </li>
              </ul>
            </div>
        </div>






        <button (click)="mobileFunc()" data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div [ngClass]="{'items-center justify-between hidden w-full md:flex md:w-auto md:order-1': !mobile}" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
        <li>
          <a [routerLink]="['']" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
        </li>
        <li>
          <a *ngIf="roles=='CANDIDATE'" [routerLink]="['/offers']"  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Offers</a>
        </li>
        <li>
          <a [routerLink]="['/faq']"  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">FAQ</a>
        </li>
        <li>
          <a [routerLink]="['/contact']" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
